<p id="notice"><%= notice %></p>

<p>
  <strong>Call:</strong>
  <%= @credit_request.call_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @credit_request.data %>
</p>

<%= link_to 'Edit', edit_credit_request_path(@credit_request) %> |
<%= link_to 'Back', credit_requests_path %>
